body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("https://www.xtrafondos.com/descargar.php?id=3149&resolucion=2560x1440");
  background-attachment: fixed;
}
